{% extends 'interviewer/layouts/base-fullscreen.html' %}

{% block title %} Register {% endblock title %}

<!-- Specific CSS goes HERE -->
<style>
  .hiddenfield{
    opacity: 0.0;
  }
</style>
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <!-- Page content -->
  <div class="container mt--8 pb-5">
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-7">
        <div class="card bg-secondary shadow border-0">
          <div class="card-header bg-transparent pb-5">

            <div class="text-muted text-center mt-2 mb-3">            
              Add questions for Job :
              <br />
              {% if msg %}
                <span class="text-danger">{{ msg | safe }}</span>
              {% else %}
                {{job_profile}}
              {% endif %}
            </div>
            
          </div>
          <div class="card-body px-lg-5 py-lg-5">
            
            {% if not success %}

              <form role="form" method="post" action="">

                  <div class="col-md-14">
                    <div class="form-group">
                      <input type="question" class="form-control" name="question" placeholder="Question">
                    </div>
                  </div>
                  <div class="hiddenfield" opacity=0.0>
                    <input type ="hidden" name="job_id" value={{job_id}} size =1px>

                  </div>

                  <div class="col-md-14">
                      <textarea class="form-control" name="answer" rows="5" placeholder="Enter the correct answer"></textarea>
                  </div>
                  
                <div class="text-center">
                  
                  <button type="submit" class="btn btn-primary btn-lg btn-block my-4">
                    Save Question
                  </button>
                  
                </div>
              </form>
              
              <a href="/intvw">
              <button type="button"  class="btn btn-secondary btn-lg btn-block my-4">
                Exit
              </button></a>
            {% endif %}

          </div>
        </div>
       
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 

{% block javascripts %}{% endblock javascripts %}
