#Virtual Environment
/env

#Flask
instance/*
!instance/.gitignore
.webassets-cache

/documents/*

# Flask.Python Stack
# Byte-compiled / optimized / DLL files
/__pycache__/
*.py[cod]
*$py.class
/site.db
/ffmpeg*
*.mp3
*.wav