{% extends 'interviewer/layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <!-- <h6 class="h2 text-white d-inline-block mb-0">Default</h6> -->
          <!-- <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4"> -->
            <!-- <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
              <li class="breadcrumb-item"><a href="#">Dashboards</a></li>
              <li class="breadcrumb-item active" aria-current="page">Default</li>
            </ol> -->
          
        </div>
        <div class="col-lg-6 col-5 text-right">
          <a href="{{ url_for('add_job', interviewer_id = interviewer_id)}}" class="btn btn-sm btn-neutral">Add New Job</a>
          <!-- <a href="#" class="btn btn-sm btn-neutral">Filters</a> -->
        </div>
      </div>
    </div>
  </div>
</div>

   
  <div class="table-responsive">
    <!-- Projects table -->
    <table class="table align-items-center table-flush">
      <thead class="thead-light">
        <tr>
          <th scope="col">Job profile</th>
          <th scope="col">Job Description</th>
          <th scope="col">College Name</th>
          <th scope="col">Number of attempts</th>
          <th scope="col">Add Questions</th>
          <th scope="col">Leaderboad</th>
        </tr>
      </thead>
      <tbody>
        {% for i in table %}
        
        <tr>
          <th scope="row">
            <a 
            href="{{ url_for('show_scores', interviewer_id = interviewer_id, job_id = i[4] )}}">
            {{i[0]}}
            </a> 
          </th>
          <td>
            {{i[1]}}
          </td>
          <td>
            {{i[2]}}
          </td>
          <td>
            <!-- <i class="fas fa-arrow-up text-success mr-3"></i>  -->
            {{i[3]}}
          </td>
          <td>
            <div class="col-3 text-right">
              <a href="{{ url_for('addquestion', job_id = i[4] ) }}" class="btn btn-sm btn-primary">Add</a>
            </div>
          </td>
          <td>
            <div class="col-3 text-right">
              <a href="{{ url_for('show_scores', job_id = i[4] ) }}" class="btn btn-sm btn-primary">Results</a>
            </div>
          </td>
        </tr>
        {% endfor %}
        
      </tbody>
    </table>
  </div>

            

      {% include "interviewer/includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

  <script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>

{% endblock javascripts %}
